<div class="popup-overlay" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <h3 class="title">
            Payement Ecolage
        </h3>

        <div class="container text-start mb-3 ms-1">
            <div class="row">
                <div class="col fw-bolder">{{ etudiantDetail.matricule }}</div>
            </div>
            <div class="row">
                <div class="col">{{etudiantDetail.nom}} {{etudiantDetail.prenom}}</div>
            </div>
            <div class="row">
                <div class="col">Classe: 7e</div>
            </div>
        </div>

        <div style="margin: 20px;">



            <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example" [(ngModel)]=" jourSelected">
                    @for(item of [].constructor(maxJourMois) ; track item; let index = $index) {
                    <option [value]="1 + index">{{
                        1 + index}}</option>
                    }
                </select>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="moisSelected"
                    (change)="changeDate()">
                    @for (mois of moisDeLannee; track mois.value) {
                    <option [value]="mois.value">{{mois.label}}</option>
                    }

                </select>
                <select class="form-select" aria-label="Default select example" [(ngModel)]=" anneeSelected">
                    @for(item of [].constructor(100) ; track item; let index = $index) {
                    <option [value]="debutMonBeauJardin + index">{{
                        debutMonBeauJardin + index}}</option>
                    }
                </select>

            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault"
                    [(ngModel)]="isPayed">
                <label class="form-check-label" for="switchCheckDefault"
                    style="display: flex; justify-content: flex-start;">Payé</label>
            </div>

            <div style="display: flex; justify-content: flex-end;">
                <button type="button" class="btn btn-outline-primary me-2" (click)="closePopup()">Annuler</button>
                <button type="button" class="btn btn-outline-success" (click)="payEcolage()">Payer</button>
            </div>
        </div>

    </div>
</div>