<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item" (click)="onInscritEtudiant()">
                <span class="nav-link" [ngClass]="{'active': etat ==='I'}">Liste des étudiants inscrits</span>
            </li>
            <li class="nav-item" (click)="onAncienEtudiant()">
                <span class="nav-link" [ngClass]="{'active': etat ==='A'}">Liste des anciens étudiants </span>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="input-group mb-3">
            <input type="text" class="form-control"
                placeholder="Tapez ici le numero matricule ou nom ou prenom(s) à rechercher" [(ngModel)]="recherche">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="onCherche()">Chercher</button>
            </div>
        </div>
        @if(pagedEtudiantListObservable$ | async ; as pagedEtudiantList; ){

        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                    <th class="col-1">Numero Matricule</th>
                    <th class="col-4">Nom</th>
                    <th class="col-4">Prénom(s)</th>
                    <th class="col-2">date de naissance</th>
                    <th class="col-1">Actions</th>
                </tr>
            </thead>
            <tbody class="text-center align-items-center">



                @for(etudiant of pagedEtudiantList.etudiants ; track etudiant.matricule){
                <tr>
                    <th scope="row"> {{ etudiant.matricule }}</th>
                    <td>{{ etudiant.nom }} {{etudiant.etat }}</td>
                    <td>{{ etudiant.prenom }}</td>
                    <td>{{ etudiant.dateNaissance }}</td>
                    <td>
                        <a [routerLink]="['../etudiant/', etudiant.id]" routerLinkActive="router-link-active"
                            style="color: rgb(31, 114, 1);"><i class="bi bi-eye h3" data-placement="bottom"
                                title="Voir détail étudiant"></i></a>
                        <a class="ms-2" routerLinkActive="router-link-active" style="color: rgb(17, 37, 152);"><i
                                class="bi bi-printer h3" data-placement="bottom"
                                title="Imprimer certificat de scolarité"></i></a>

                        @if(etudiant.etat === 'I'){
                        <a href="" class="ms-2" style="color: rgb(213, 14, 14);"><i class="bi bi-person-x h3"
                                data-placement="bottom" title="Désinscrire l'étudiant"></i></a>
                        }@else{
                        <a href="" class="ms-2" style="color: rgb(17, 152, 29);"><i class="bi bi-person-add h3"
                                data-placement="bottom" title="Réinscrire l'étudiant"></i></a>
                        }

                    </td>
                </tr>
                }





            </tbody>

        </table>
        <nav>
            <ul class="pagination">
                @if (pagedEtudiantList.currentPage == 0) {
                <li class="page-item disabled">
                    <span class="page-link">Précedente</span>
                </li>
                }@else {
                <li class="page-item" (click)="onPrecedent(pagedEtudiantList.currentPage - 1)">
                    <span class="page-link">Précedente</span>
                </li>
                }


                @if(pagedEtudiantList.totalPages > ( 7 * compteurGroupPage)){
                @let pageToShow = 7;

                @for ( item of [].constructor(pageToShow); track item; let page = $index) {
                <li class="page-item" (click)="onChangePage(page + (7 * (compteurGroupPage - 1)))"
                    [ngClass]="{'active': (page  + (7 * (compteurGroupPage - 1)))== pagedEtudiantList.currentPage}">
                    <span class="page-link">{{ page +
                        1 + (7 * (compteurGroupPage - 1))}}</span>
                </li>
                }
                }@else {
                @let pageToshow = pagedEtudiantList.totalPages - (7 * (compteurGroupPage - 1));

                @for ( item of [].constructor(pageToshow); track item; let page = $index) {
                <li class="page-item" (click)="onChangePage(page + (7 * (compteurGroupPage - 1)))"
                    [ngClass]="{'active': (page + (7 * (compteurGroupPage - 1))) == pagedEtudiantList.currentPage}">
                    <span class="page-link">{{ page +
                        1 + (7 * (compteurGroupPage - 1))}}</span>
                </li>
                }
                }

                @if (pagedEtudiantList.currentPage == pagedEtudiantList.totalPages - 1) {
                <li class="page-item disabled">
                    <span class="page-link">Suivante</span>
                </li>
                }@else {
                <li class="page-item" (click)="onSuivant(pagedEtudiantList.currentPage + 1)">
                    <span class="page-link">Suivante</span>
                </li>
                }
            </ul>
        </nav>
        }
    </div>
</div>