<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <span class="nav-link active">Ecolages non payés</span>
            </li>

        </ul>
    </div>
    <div class="card-body">


        <div class="input-group mb-3">
            <select class="form-select form-select-sn" aria-label=".form-select-sm example" [(ngModel)]="moisSelected">
                @for(mois of moisDeLannee ; track mois.value) {
                <option [value]="mois.value">{{ mois.label}}</option>
                }
            </select>
            <select class="form-select form-select-sn" aria-label=".form-select-sm example" [(ngModel)]="anneeSelected">
                @for(item of [].constructor(100) ; track item; let index = $index) {
                <option [value]="debutMonBeauJardin + index">{{
                    debutMonBeauJardin + index}}</option>
                }
            </select>
            <input type="text" class="form-control"
                placeholder="Tapez ici le numero matricule ou nom ou prenom(s) à rechercher"
                aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="recherche">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onRecherche()"><i
                    class="bi bi-search h6" data-placement="bottom"></i>
                Chercher</button>
        </div>


        <div class="card border-secondary mb-3">
            <div class="card-header">
                <div class="row">
                    <div class=" col-11">25/28-F</div>
                    <div class="col-1" style="display: grid; justify-items:end;">

                        <button type="button" class="btn btn-outline-success"> <i class="bi bi-currency-dollar h6"
                                data-placement="bottom" title="Payer l'écolage"></i> Payer</button>
                    </div>

                </div>

            </div>

            <div class="card-body text-secondary">
                <div class="row" style="align-items: center;">
                    <div class="col-1">
                        @if(true){
                        @if(true){
                        <img src="profilGarcon.png" class="rounded-circle" style="width: 50px;">
                        }@else {
                        <img src="profilFille.png" class="rounded-circle" style="width: 50px;">
                        }
                        }@else {
                        <img [src]="null" class="rounded-circle" tyle="width: 50px;">
                        }


                    </div>
                    <div class=" col-5 fw-bolder">Rabesandratana Laza Nomentsoa</div>
                    <div class="col-4" style="display: grid; justify-items:end;">
                        11/09/2020
                    </div>
                    <div class="col-2" style="display: grid; justify-items:end;">
                        Classe: 7e
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card border-warning mb-3">
            <div class="card-header">25/28-F</div>
            <div class="card-body text-warning">
                <h5 class="card-title">Rabesandratana Laza Nomentsoa</h5>
                <p class="card-text">Class: 7e</p>
            </div>
        </div>
        <div class="card border-danger mb-3">
            <div class="card-header">25/28-F</div>
            <div class="card-body text-danger">
                <h5 class="card-title">Rabesandratana Laza Nomentsoa</h5>
                <p class="card-text">Class: 7e</p>
            </div>
        </div> -->

    </div>
</div>