<div class="card">

    <div class="card-header">

        asdfadf
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <span class="nav-link active">Ecolages</span>
            </li>

        </ul>
    </div>


    <div class="card-body">


        <div class="input-group mb-3">
            <select class="form-select form-select-sn" aria-label=".form-select-sm example" [(ngModel)]="moisSelected">
                @for(mois of moisDeLannee ; track mois.value) {
                <option [value]="mois.value">{{ mois.label}}</option>
                }
            </select>
            <select class="form-select form-select-sn" aria-label=".form-select-sm example" [(ngModel)]="anneeSelected">
                @for(item of [].constructor(100) ; track item; let index = $index) {
                <option [value]="debutMonBeauJardin + index">{{
                    debutMonBeauJardin + index}}</option>
                }
            </select>
            <input type="text" class="form-control"
                placeholder="Tapez ici le numero matricule ou nom ou prenom(s) à rechercher"
                aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="recherche">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onRecherche()"><i
                    class="bi bi-search h6" data-placement="bottom"></i>
                Chercher</button>
        </div>
        @if (pagedEtudiantWithEcolageList$ | async; as pagedEtudiantList) {
        @for (etudiant of pagedEtudiantList.etudiantEcolages; track etudiant.matricule) {

        <div class="card  mb-3" ngClass="border-{{testEtatEcolage(etudiant)}}">
            <div class="card-header">
                <div class="row">
                    <div class=" col-11">{{ etudiant.matricule }}</div>
                    <div class="col-1" style="display: grid; justify-items:end;">

                        <button type="button" class="btn btn-outline-success" (click)="showPopupPayer(etudiant)"> <i
                                class="bi bi-currency-dollar h6" data-placement="bottom" title="Payer l'écolage"></i>
                            Payer</button>
                    </div>

                </div>

            </div>


            <div class="card-body" ngClass="text-{{testEtatEcolage(etudiant)}}">

                <div class="row" style="align-items: center;">
                    <div class="col-1">
                        @if(etudiant.image == null || etudiant.image != ''){
                        @if(etudiant.sexe != 'F'){
                        <img src="profilGarcon.png" class="rounded-circle" style="width: 50px;">
                        }@else {
                        <img src="profilFille.png" class="rounded-circle" style="width: 50px;">
                        }
                        }@else {
                        <img [src]="etudiant.image" class="rounded-circle" tyle="width: 50px;">
                        }


                    </div>
                    <div class=" col-5 fw-bolder">{{etudiant.nom}} {{ etudiant.prenom}}</div>
                    <div class="col-4" style="display: grid; justify-items:end;">
                        {{ etudiant.dateNaissance }}
                    </div>
                    <div class="col-2" style="display: grid; justify-items:end;">
                        Classe: 7e
                    </div>
                </div>
            </div>



        </div>


        }


        <nav>
            <ul class="pagination">
                @if (pagedEtudiantList.currentPage == 0) {
                <li class="page-item disabled">
                    <span class="page-link">Précedente</span>
                </li>
                }@else {
                <li class="page-item" (click)="onPrecedent(pagedEtudiantList.currentPage - 1)">
                    <span class="page-link">Précedente</span>
                </li>
                }


                @if(pagedEtudiantList.totalPages > ( nombreDePageAfficher * compteurGroupPage)){
                @let pageToShow = nombreDePageAfficher;

                @for ( item of [].constructor(pageToShow); track item; let page = $index) {
                <li class="page-item" (click)="onChangePage(page + (nombreDePageAfficher * (compteurGroupPage - 1)))"
                    [ngClass]="{'active': (page  + (nombreDePageAfficher * (compteurGroupPage - 1)))== pagedEtudiantList.currentPage}">
                    <span class="page-link">{{ page +
                        1 + (nombreDePageAfficher * (compteurGroupPage - 1))}}</span>
                </li>
                }
                }@else {
                @let pageToshow = pagedEtudiantList.totalPages - (nombreDePageAfficher * (compteurGroupPage - 1));

                @for ( item of [].constructor(pageToshow); track item; let page = $index) {
                <li class="page-item" (click)="onChangePage(page + (nombreDePageAfficher * (compteurGroupPage - 1)))"
                    [ngClass]="{'active': (page + (nombreDePageAfficher * (compteurGroupPage - 1))) == pagedEtudiantList.currentPage}">
                    <span class="page-link">{{ page +
                        1 + (nombreDePageAfficher * (compteurGroupPage - 1))}}</span>
                </li>
                }
                }

                @if (pagedEtudiantList.currentPage == pagedEtudiantList.totalPages - 1) {
                <li class="page-item disabled">
                    <span class="page-link">Suivante</span>
                </li>
                }@else {
                <li class="page-item" (click)="onSuivant(pagedEtudiantList.currentPage + 1)">
                    <span class="page-link">Suivante</span>
                </li>
                }
            </ul>
        </nav>
        }


    </div>
</div>



@if (isPopupVisible) {
<app-modal-payer-ecolage (close)="hidePopupPayer()"></app-modal-payer-ecolage>
}