<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active">Information Sur l'étudiant</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @if(etudiantDetail$ | async; as etudiantDetail){
        <form class="row mx-5" [formGroup]="mainForm" (submit)="onSubmit()">


            <div class="container">
                <div class="row">
                    <div class="col-5"></div>
                    @if(etudiantDetail.image == null){
                    @if (etudiantDetail.sexe == 'F') {
                    <img src="profilFille.png" class="rounded-circle col-1" alt="profil Utilisateur">
                    }@else {
                    <img src="profilGarcon.png" class="rounded-circle col-1" alt="profil Utilisateur">
                    }
                    }@else {
                    <img [src]="etudiantDetail.image" class="rounded-circle col-1" alt="profil Utilisateur">
                    }


                </div>

                <div class="row">
                    <app-input-mbj class="col-2" [form]="mainForm" [formControlNameMBJ]="'matriculEtudiant'"
                        [messageErreur]="''" [label]="'Numéro matricul'" [type]="'text'" />
                    <div class="col-2">
                        <label for="inputEmail4" class="form-label">Etat de l'etudiant</label>
                        <select class="form-select" id="specificSizeSelect" [formControl]="etatEtudiantFormControl">
                            @for (etat of etats; track etat.value) {
                            <option [value]="etat.value">{{ etat.label}}</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="row mt-2">
                    <app-input-mbj class="col-6" [form]="mainForm" [formControlNameMBJ]="'nomEtudiant'"
                        [messageErreur]="''" [label]="'Nom'" />

                    <app-input-mbj class="col-6" [form]="mainForm" [formControlNameMBJ]="'prenomEtudiant'"
                        [messageErreur]="''" [label]="'Prénom(s)'" />
                </div>

                <div class="row mt-2">
                    <app-input-mbj class="col-2" [form]="mainForm" [formControlNameMBJ]="'dateDeNaissanceEtudiant'"
                        [messageErreur]="''" [label]="'Date de naissance'" [maxLength]="10" />

                    <app-input-mbj class="col-2" [form]="mainForm" [formControlNameMBJ]="'nombreFraternite'"
                        [messageErreur]="''" [label]="'Nombre de frère et de soeur'" [maxLength]="2"
                        [type]="'number'" />
                </div>
                <div class="row mt-2">
                    <app-input-mbj [form]="mainForm" [formControlNameMBJ]="'adresseEtudiant'"
                        [messageErreur]="adresseErreur" [label]="'Adresse'" />
                </div>


                @if (etudiantDetail.nomMere) {
                <div class="row mt-2">
                    <app-input-mbj class="col-4" [form]="mainForm" [formControlNameMBJ]="'nomMere'" [messageErreur]="''"
                        [label]="'Nom complet Mére'" />
                    <app-input-mbj class="col-4" [form]="mainForm" [formControlNameMBJ]="'telephoneMere'"
                        [messageErreur]="telephoneMereErreur" [label]="'Téléphone Mére'" [maxLength]="10"
                        [type]="'number'" />
                    <app-input-mbj class="col-4" [form]="mainForm" [formControlNameMBJ]="'professionMere'"
                        [messageErreur]="''" [label]="'Profession Mére'" />
                </div>
                }



                @if (etudiantDetail.nomPere) {
                <div class="row mt-2">
                    <app-input-mbj class="col-4" [form]="mainForm" [formControlNameMBJ]="'nomPere'" [messageErreur]="''"
                        [label]="'Nom complet Pére'" />
                    <app-input-mbj class="col-4" [form]="mainForm" [formControlNameMBJ]="'telephonePere'"
                        [messageErreur]="telephonePereErreur" [label]="'Téléphone Pére'" [maxLength]="10"
                        [type]="'number'" />
                    <app-input-mbj class="col-4" [form]="mainForm" [formControlNameMBJ]="'professionPere'"
                        [messageErreur]="''" [label]="'Profession Pére'" />
                </div>
                }

                @if(etudiantDetail.nomTuteur){
                <div class="mt-2"><ins>Information à propos du/de la tuteur(trice)</ins> </div>
                <div class="row">
                    <app-input-mbj class="col-4" [form]="mainForm" [formControlNameMBJ]="'nomTuteur'"
                        [messageErreur]="''" [label]="'Nom complet Tuteur(rice)'" />
                    <app-input-mbj class="col-4" [form]="mainForm" [formControlNameMBJ]="'telephoneTuteur'"
                        [messageErreur]="telephoneTuteurErreur" [label]="'Téléphone Tuteur(rice)'" [maxLength]="10"
                        [type]="'number'" />
                    <app-input-mbj class="col-4" [form]="mainForm" [formControlNameMBJ]="'professionTuteur'"
                        [messageErreur]="''" [label]="'Profession Tuteur(rice)'" />
                </div>
                }


                <div class="row mt-4">
                    <div class="col">
                        <label for="noteSupplementaireEtudiant" class="form-label">Note supplementaire</label>
                        <textarea class="form-control" id="noteSupplementaireEtudiant"
                            formControlName="noteSupplementaire"> </textarea>
                    </div>
                </div>

                <div class="row mt-4" style="align-items: center;">
                    <div class="col-7">
                    </div>
                    <button type="button" class="btn btn-outline-danger col-2  me-md-5"
                        (click)="onAnnuler()">Annuler</button>
                    <button type="submit" class="btn btn-outline-success col-2">Modifier</button>

                </div>


            </div>


        </form>
        }

    </div>
</div>