/* You can add global styles to this file, and also import other style files */

.mainImageBackGround {
    background-image: linear-gradient(to right, rgb(38, 215, 68), rgb(11, 87, 68));
}

.colorCancel {
    background-image: linear-gradient(to right, rgb(215, 38, 82), rgb(51, 0, 0));
    
}

.textColorButton {
    color: rgb(241, 241, 241);
}

