<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active">Information nouvel Etudiant</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form class="row mx-5" [formGroup]="mainForm" (submit)="onSubmit()">

            <div class="container">

                <div class="row">
                    <app-input-mbj class="col-2" [form]="mainForm" [formControlNameMBJ]="'anneeInscription'"
                        [messageErreur]="anneeInscriptionErreur" [label]="'Année d\'inscription'" [type]="'number'" />
                    <app-input-mbj class="col-2" [form]="mainForm" [formControlNameMBJ]="'matriculEtudiant'"
                        [messageErreur]="matriculErreur" [label]="'Numéro matricul'" [type]="'number'" />
                    <div class="col-2">
                        <label for="inputEmail4" class="form-label">Etat de l'etudiant</label>
                        <select class="form-select" id="specificSizeSelect" [formControl]="etatEtudiantFormControl">
                            @for (etat of etats; track etat.value) {
                            <option [value]="etat.value">{{ etat.label}}</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="row mt-2">
                    <app-input-mbj class="col-6" [form]="mainForm" [formControlNameMBJ]="'nomEtudiant'"
                        [messageErreur]="nomErreur" [label]="'Nom'" />

                    <app-input-mbj class="col-6" [form]="mainForm" [formControlNameMBJ]="'prenomEtudiant'"
                        [messageErreur]="prenomErreur" [label]="'Prénom(s)'" />
                </div>

                <div class="row mt-2">
                    <app-input-mbj class="col-2" [form]="mainForm" [formControlNameMBJ]="'dateDeNaissanceEtudiant'"
                        [messageErreur]="dateNaissanceErreur" [label]="'Date de naissance'" [maxLength]="10" />
                    <div class="col-2">
                        <label for="inputEmail4" class="form-label">Genre</label>
                        <select class="form-select" id="specificSizeSelect" [formControl]="genreEtudiantFormControl">
                            @for (genre of genres; track genre.value) {
                            <option [value]="genre.value">{{ genre.label}}</option>
                            }
                        </select>
                    </div>
                    <app-input-mbj class="col-2" [form]="mainForm" [formControlNameMBJ]="'nombreFraternite'"
                        [messageErreur]="''" [label]="'Nombre de frère et de soeur'" [maxLength]="2"
                        [type]="'number'" />
                </div>
                <div class="row mt-2">
                    <app-input-mbj [form]="mainForm" [formControlNameMBJ]="'adresseEtudiant'"
                        [messageErreur]="adresseErreur" [label]="'Adresse'" />
                </div>

                <div class="col-12 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkMere"
                            [formControl]="isMereInconnuFormControl">
                        <label class="form-check-label" for="checkMere">
                            Mere inconnue
                        </label>
                    </div>
                </div>

                @if (!isMereInconnu) {
                <div class="row" [formGroup]="mereFormGroup">
                    <app-input-mbj class="col-4" [form]="mereFormGroup" [formControlNameMBJ]="'nomMere'"
                        [messageErreur]="nomMereErreur" [label]="'Nom complet Mére'" />
                    <app-input-mbj class="col-4" [form]="mereFormGroup" [formControlNameMBJ]="'telephoneMere'"
                        [messageErreur]="telephoneMereErreur" [label]="'Téléphone Mére'" [maxLength]="10"
                        [type]="'number'" />
                    <app-input-mbj class="col-4" [form]="mereFormGroup" [formControlNameMBJ]="'professionMere'"
                        [messageErreur]="''" [label]="'Profession Mére'" />
                </div>
                }

                <div class="col-12 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck"
                            [formControl]="isPereInconnuFormControl">
                        <label class="form-check-label" for="gridCheck">
                            Pére inconnu
                        </label>
                    </div>
                </div>

                @if (!isPereInconnu) {
                <div class="row" [formGroup]="pereFormGroup">
                    <app-input-mbj class="col-4" [form]="pereFormGroup" [formControlNameMBJ]="'nomPere'"
                        [messageErreur]="nomPereErreur" [label]="'Nom complet Pére'" />
                    <app-input-mbj class="col-4" [form]="pereFormGroup" [formControlNameMBJ]="'telephonePere'"
                        [messageErreur]="telephonePereErreur" [label]="'Téléphone Pére'" [maxLength]="10"
                        [type]="'number'" />
                    <app-input-mbj class="col-4" [form]="pereFormGroup" [formControlNameMBJ]="'professionPere'"
                        [messageErreur]="''" [label]="'Profession Pére'" />
                </div>
                }

                @if(isMereInconnu && isPereInconnu){
                <div class="mt-2"><ins>Information à propos du/de la tuteur(trice)</ins> </div>
                <div class="row" [formGroup]="tuteurFormGroup">
                    <app-input-mbj class="col-4" [form]="tuteurFormGroup" [formControlNameMBJ]="'nomTuteur'"
                        [messageErreur]="nomTuteurErreur" [label]="'Nom complet Tuteur(rice)'" />
                    <app-input-mbj class="col-4" [form]="tuteurFormGroup" [formControlNameMBJ]="'telephoneTuteur'"
                        [messageErreur]="telephoneTuteurErreur" [label]="'Téléphone Tuteur(rice)'" [maxLength]="10"
                        [type]="'number'" />
                    <app-input-mbj class="col-4" [form]="tuteurFormGroup" [formControlNameMBJ]="'professionTuteur'"
                        [messageErreur]="''" [label]="'Profession Tuteur(rice)'" />
                </div>
                }


                <div class="row mt-4">
                    <div class="col">
                        <label for="noteSupplementaire" class="form-label">Note supplementaire</label>
                        <textarea class="form-control" id="noteSupplementaire"
                            formControlName="noteSupplementaire"> </textarea>
                    </div>
                </div>

                <div class="row mt-4" style="align-items: center;">
                    <div class="col-7">
                    </div>
                    <button type="button" class="btn btn-outline-danger col-2  me-md-5">Annuler</button>
                    <button type="submit" class="btn btn-outline-success col-2">Enregistrer</button>

                </div>


            </div>


        </form>
    </div>
</div>